.parent{
    -fx-background-color: transparent;
}

.pane{
    -fx-background-color: #2196f3;
}

.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}

.vbox{
     -fx-background-color: white;
}

.blue-panel{
    -fx-background-color: #151928;
}

.email{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: white;
}

.hbox1{
    -fx-background-color: transparent;
}

.fieldIsIncorrect {
   -fx-color: lightpink;
}
.fieldIsCorrect{
    -fx-control-inner-background: greenyellow;
}

#btnAdd{
    -fx-graphic: url("/img/list-add.png");
}
#btnDelete{
    -fx-graphic: url("/img/edit-delete.png");
}
#btnSignOut{
    -fx-graphic: url("/img/application-exit.png");
}
#btnSignOut2{
    -fx-graphic: url("/img/application-exit.png");
}